body {
    background-color: olivedrab;
}

.link1 {
    float: right;
    margin-top: 15px;
    text-decoration: none;
    color: yellow;
    font-family: cursive;
}

.link2 {
    float: left;
    margin-top: 15px;
    text-decoration: none;
    color: yellow;
    font-family: cursive;
}

.link3 {
    margin-left: 535px;
    text-decoration: none;
    color: yellow;
    font-family: cursive;
}

.incomeLink3 {
    margin-left: 415px;
    text-decoration: none;
    color: yellow;
    font-family: cursive;
}

.showLink {
    margin-left: 610px;
    text-decoration: none;
    color: yellow;
    font-family: cursive;
}

.expenseTotal {
    text-align: center;
    font-family: cursive;
    width: 15%;
    background-color: yellow;
    border-radius: 10px;
    margin: auto;
    box-shadow: 4px 4px 4px black;
}

.incomeTotal {
        text-align: center;
        font-family: cursive;
        width: 20%;
        background-color: yellow;
        border-radius: 10px;
        margin: auto;
        box-shadow: 4px 4px 4px black;
}

.expenseOverall {
    text-align: center;
    font-family: cursive;
    width: 23%;
    background-color: yellow;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px black;
}

.incomeOverall {
    text-align: center;
    font-family: cursive;
    width: 20%;
    background-color: yellow;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px black;
}

.main {
    text-align: center;
    font-family: cursive;
    width: 14%;
    background-color: yellow;
    border-radius: 10px;
    margin: auto;
    box-shadow: 4px 4px 4px black;
}

.expenseCreate {
    font-family: cursive;
    width: 24%;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px black;
}

.incomeCreate {
    font-family: cursive;
    width: 19%;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px black;
}

.expenseBack {
    margin-left: 605px;
    text-decoration: none;
    color: yellow;
    font-family: cursive;
}

.incomeBack {
    margin-left: 610px;
    text-decoration: none;
    color: yellow;
    font-family: cursive;
}

label {
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: cursive;
}

input {
    border-radius: 10px;
    color: grey;
    border: solid black;
}

.createButton {
    cursor: pointer;
    background-color: yellow;
    border-radius: 10px;
    border: solid black;
    margin-left: 605px;
    margin-top: 10px;
    box-shadow: 2px 2px black;
    font-family: cursive;
    transition: transform 0.5s, background-color 0.5s;
}

.createButton:hover {
    transform: translateY(5px);
    cursor: pointer;
    background-color: green;
    border-radius: 10px;
    border: solid black;
    margin-top: 10px;
    box-shadow: 2px 2px black;
}

.deleteButton {
    cursor: pointer;
    background-color: yellow;
    border-radius: 10px;
    border: solid black;
    margin-top: 10px;
    margin-left: 605px;
    box-shadow: 2px 2px black;
    font-family: cursive;
    transition: transform 0.5s, background-color 0.5s;
}

.deleteButton:hover {
    transform: translateY(5px);
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    border: solid black;
    margin-top: 10px;
    box-shadow: 2px 2px black;
}

.output {
    color: black;
    background-color: yellow;
    font-family: cursive;
    width: 15%;
    height: 15%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px black;
}

.smallShow {
    text-decoration: none;
}

.main-description {
    font-family: cursive;
    font-size: large;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 7px;
    background-color: yellow;
    margin-top: 10px;
    box-shadow: 4px 4px 4px black;
}

div {
    margin-top: 100px;
}

.show {
    font-family: cursive;
    width: 15%;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px black;
}